$background-color-secondary: #F1F4F9;
$background-color-main: #FFFFFF;
$font-style-main: 'SF Pro Display', sans-serif;
$text-main: #122945;
$text-secondary: #5E7793;
$UI-red: #EA1A4F;
$text-header: #899CB1;
$transition-main: all 0.3s;
$UI-accent: #002CFB;
$UI-icon: #ADBFDF;

html {
  font-family: $font-style-main;
  font-weight: 400;
  color: $text-main;
}

body {
  background: $background-color-secondary;
  padding: 80px 0 120px;
  margin: 0;
}

#root {
  width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;

  .dropdown-container {
    display: flex;
    gap: 38px;
    align-items: center;

    .filters-clear {
      font-size: 14px;
      position: relative;
      color: $text-secondary;
      cursor: pointer;
      transition: $transition-main;

      & p {
        margin: 0;
        padding-right: 8px;
      }

      & svg {
        position: absolute;
        right: -12px;
        top: 2.5px;

        & path {
          transition: $transition-main;
        }
      }

      &:hover {
        color: $UI-accent;
        transition: $transition-main;

        & svg {
          & path {
            fill: $UI-accent;
            transition: $transition-main;
          }
        }
      }
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-toggle {
      border: none;
      background: none;
      cursor: pointer;
      font-family: $font-style-main;
      font-size: 14px;
      color: $text-secondary;
      transition: $transition-main;
      padding: 0;

      .arrow {
        transition: $transition-main;
        position: absolute;
        top: 0px;
        right: -22px;
      }

      .rotate {
        transform: rotate(180deg);

        & path {
          fill: $UI-accent;
          transition: $transition-main;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 26px;
      left: 0;
      background-color: #fff;
      z-index: 1000;
      border-radius: 8px;
      font-size: 12px;
      list-style-type: none;
      padding: 4px 0;
      margin: 0;
      box-shadow: 0px 4px 20px 0px #00000014;

      .active {
        color: $UI-accent;
      }

      & li {
        padding: 7px 12px;
        cursor: pointer;
        transition: $transition-main;
        line-height: 18px;
        width: 133px;
        box-sizing: border-box;

        &:hover {
          background: #DEE4FF;
          transition: $transition-main;
        }
      }
    }

    .dropdown-active {
      color: $UI-accent;
      transition: $transition-main;
    }
  }

  .date {

    .react-datepicker {
      position: absolute;
      z-index: 1000;
      right: 0;
    }

    .dropdown-toggle {
      display: flex;
      align-items: center;
      gap: 12px;

      .date-flex {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $UI-accent;
        transition: $transition-main;

        & svg {
          & path {
            transition: $transition-main;
          }
        }

        & p {
          margin: 0;
        }


        &:hover {
          & svg {
            & path {
              fill: $UI-accent;
              transition: $transition-main;
            }
          }
        }
      }


      & svg {
        & path {
          transition: $transition-main;
        }

        &:hover {
          & path {
            fill: $UI-accent;
            transition: $transition-main;
          }
        }
      }
    }

    .dropdown-menu {
      font-size: 14px;
      top: 28px;
      right: 0;
      left: initial;


      .custom-date-range {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date-range {
          letter-spacing: -0.9px;
          color: inherit;
        }

        & p {
          margin: 0;
          font-size: 14px;
          letter-spacing: 1.7px;
          color: $UI-icon;
        }
      }

      .date-specify {
        padding-left: 21px;
        margin: 12px 0 0;
      }

      & li {
        padding: 6px 21px;
        width: 204px;
        box-sizing: border-box;
        line-height: 28px;

        &:hover {
          &:last-child {
            & svg {
              transition: $transition-main;

              & path {
                fill: $UI-accent;
                transition: $transition-main;
              }
            }
          }
        }
      }


    }
  }


}

main {
  padding: 0 0 24px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  background: $background-color-main;
  box-shadow: 0px 4px 5px 0px #E9EDF3;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;

    thead {
      tr {

        th {
          text-align: left;
          padding: 24px 0 0 0;
          font-size: 14px;
          color: $text-secondary;
          font-weight: 400;
          box-sizing: border-box;
          position: relative;

          &:first-child {
            width: 54px;
          }

          &:nth-child(2) {
            width: 88px;
          }

          &:nth-child(3) {
            width: 129px;
          }

          &:nth-child(4) {
            width: 325px;
          }

          &:nth-child(5) {
            width: 214px;
          }

          &:nth-child(6) {
            width: 200px;
          }

          &:nth-child(7) {
            width: -webkit-fill-available;
            text-align: right;
            padding-right: 41px;
          }
        }

        .sort-method {
          cursor: pointer;

          .arrow {
            position: absolute;
            top: 22px;
            right: 25px;
            transition: $transition-main;
          }

          .rotate {
            transform: rotate(180deg);
          }

          .right {
            right: 19px;
          }
        }
      }
    }

    tbody {
      td {
        border-top: 1px solid #EAF0FA;
        box-sizing: border-box;
        height: 65px;

        & img {
          max-width: 32px;
        }

        &:last-child {
          text-align: right;
          padding-right: 40px;
        }
      }

      .sourse {
        color: $text-secondary;
      }

      .error {
        color: $UI-red;
        font-size: 14px;
      }

      .audio-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #E5EEF7;
        border-radius: 25px;
        padding: 12px 16px 12px 20px;
        width: 352px;
        box-sizing: border-box;
        position: relative;

        .audio-flex {
          display: flex;
          align-items: center;
          gap: 8px;

          .progress-container {
            position: relative;
            width: 164px;
            height: 5px;
            background-color: #b0c7e4;
            border-radius: 5px;
            cursor: pointer;
          }
        }


        & svg {
          cursor: pointer;
        }

        .download-button {
          & path {
            transition: $transition-main;
          }

          &:hover {
            & path {
              fill: $UI-accent;
              transition: $transition-main;
            }
          }
        }

        .reset-button {
          & path {
            transition: $transition-main;
          }

          &:hover {
            & path {
              fill: $UI-accent;
              transition: $transition-main;
            }
          }
        }
      }

      .date-row {
        position: relative;

        .calls-amount {
          position: absolute;
          left: 83px;
          top: -3px;
          font-size: 12px;
          color: $text-header;
        }

        .calls-yesterday {
          position: absolute;
          left: 43px;
          top: -3px;
          font-size: 12px;
          color: $text-header;
        }

        .calls-today {
          position: absolute;
          left: 59px;
          top: -3px;
          font-size: 12px;
          color: $text-header;
        }

        td {
          border-top: none;
          text-align: left;
          padding: 39px 0 16px;
        }
      }
    }
  }
}



